
<% layout("/layouts/boilerplate") -%>
<body>
    <br>
    <div class="alert alert-danger error-message alert-dismissible fade show" role="alert">
        <div>
            <%=message%>
        </div>
        <a type="button" class="btn-close" aria-label="Close" href="/listings"></a>
    </div>
    <div id="error-image">
        <img src="/images/error.png" style="height: 16rem;"/>
    </div>
</body>
