<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
    <div class="col-6 offset-3">
    <br>    
    <h2>New Listing</h2>
    <form method="post" action="/listings/create" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input name="listing[title]" placeholder="enter title"  class="form-control"  required/>
                <div class="valid-feedback">title looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <textarea name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">please enter a short description</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">image</label>
                <input name="listing[image]" type="file" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">price</label>
                <input name="listing[price]" placeholder="enter price" class="form-control" required/>
                <div class="invalid-feedback">price is required</div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">location</label>
                    <input name="listing[location]" placeholder="enter location" class="form-control" required/>
                    <div class="invalid-feedback">location is required</div>
                </div>

                <div class="mb-3 col-md-4">
                    <label for="country" class="form-label">country</label>
                    <input name="listing[country]"  placeholder="enter country" class="form-control" required/>
                    <div class="invalid-feedback">country name required</div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-8">
                    <label for="latitude" class="form-label">latitude</label>
                    <input name="listing[latitude]" placeholder="enter latitude" class="form-control" required/>
                    <div class="invalid-feedback">latitude is required</div>
                </div>

                <div class="mb-3 col-md-4">
                    <label for="longitude" class="form-label">longitude</label>
                    <input name="listing[longitude]"  placeholder="enter longitude" class="form-control" required/>
                    <div class="invalid-feedback">longitude name required</div>
                </div>
            </div>
            <div class="mb-3">
                please get latitude and longitude from <a href="https://www.latlong.net/" target="_blank">here</a>
            </div>

        <button class="btn btn-dark add-button">Add</button>
    </form>
    </div>
    </div>
</body>
